/*
Home
About
Contact
Profile
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
    padding: 1em 3em;
  }

  body {
    background-color: rgb(83, 4, 4);

    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  main {
    padding: 1em 3em;
  }

  .navigation-menu {
    list-style-type: none;
    margin-bottom: 1rem;
  }

  .navigation-menu li {
    display: inline-block;
  }

  .navigation-menu li a {
    padding: 0.5rem;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
  }

  .active {
    font-weight: bold;
    color: red;
  }

  .home {
      padding-top: 5rem;
  }

  .home h1{
      font-size: 4rem;
      font-weight: bolder;
  }

  .footer {
      width: 100%;
      padding: 2em 3em;
      background-color: #000;
      position: absolute;
      bottom: 0;
  }